@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

:root {
	--primary-green: #6dd19d;
	--primary-green-30: #3d5e334d;
	--primary-blue: #2196f3;
	--secondary-blue: #2979ff;
	--text-gray: #42474e;
	--text-inactive: #cbcbcd;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "Roboto", sans-serif;
}

#root,
html,
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

#root {
	display: flex;
	flex-direction: column;
}

h2 {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.center-text {
	text-align: center;
}

.justify-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.justify-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.justify-sb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.justify-end {
	justify-content: flex-end;
}

.column-gap-05 {
	column-gap: 0.5rem;
}

.column-gap-1 {
	column-gap: 1rem;
}

.column-gap-2 {
	column-gap: 2rem;
}

.column-gap-3 {
	column-gap: 3rem;
}

.column-gap-4 {
	column-gap: 4rem;
}

.column-gap-5 {
	column-gap: 5rem;
}

.row-gap-05 {
	row-gap: 0.5rem;
}

.row-gap-1 {
	row-gap: 1rem;
}

.row-gap-2 {
	row-gap: 2rem;
}

.row-gap-3 {
	row-gap: 3rem;
}

.row-gap-4 {
	row-gap: 4rem;
}

.row-gap-5 {
	row-gap: 5rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mb-4 {
	margin-bottom: 4rem;
}

.mb-5 {
	margin-bottom: 5rem;
}

.supporting-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: rgba(0, 0, 0, 0.45);
}

.small-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #44464e;
}

.label-text {
	font-weight: 500;
	size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-decoration: none;
	color: black;
}

.bold-text {
	font-weight: 500;
	font-weight: 16px;
	line-height: 25px;
	letter-spacing: 0.15px;
}

.color-green {
	color: var(--primary-green) !important;
}
